<!-- ======= Services Section ======= -->
<section id="services" class="services py-5">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>FREATURES</h2>
      <p>are possible by using these features</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
          <h4 class="title"><a href="#">Financial Clarity</a></h4>
          <p class="description">
            Effortlessly monitor and categorize expenses, track income, and visualize spending patterns. Set budgets, receive alerts, and gain insights to optimize your financial health.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-dumbbell"></i></div>
          <h4 class="title"><a href="#">Holistic Wellness</a></h4>
          <p class="description">
            Stay on top of your fitness goals with detailed activity tracking, sleep analysis, and personalized health recommendations. Understand your body and take proactive steps towards a healthier you.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-briefcase"></i></div>
          <h4 class="title"><a href="#">Productivity Unleashed</a></h4>
          <p class="description">
            Organize tasks, set priorities, and receive tailored suggestions to enhance workflow efficiency. From task management to time optimization, elevate your work productivity effortlessly.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <h4 class="title"><a href="#">Your Personal Command Center</a></h4>
          <p class="description">
            Craft your experience with a fully customizable dashboard. Tailor the interface to suit your preferences, priorities, and individual lifestyle, ensuring a personalized and intuitive journey.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
