<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Implementation</h2>
      <p>are possible by using these features</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-cube"></i></div>
          <h4 class="title"><a href="#">Goal Setting and Tracking</a></h4>
          <p class="description">
            Allow users to set personal goals, whether related to fitness,
            wellness, productivity, or other areas of life. Implement a tracking
            system to monitor their progress over time.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-cube"></i></div>
          <h4 class="title"><a href="#">Health and Fitness Tracking</a></h4>
          <p class="description">
            Integrate features for tracking health and fitness metrics, such as
            steps taken, calories burned, or sleep patterns. Connect with
            wearable devices for seamless data synchronization.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-cube"></i></div>
          <h4 class="title"><a href="#">Expense Tracking</a></h4>
          <p class="description">
            Implement a feature that allows users to track their expenses.
            Provide categories, budgets, and insights into spending patterns to
            help users manage their finances effectively.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-cube"></i></div>
          <h4 class="title"><a href="#">Data Visualization</a></h4>
          <p class="description">
            Implement visually appealing charts and graphs to showcase users'
            progress. This could include daily, weekly, or monthly summaries of
            their achievements and milestones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
