<div class="conatiner-fluid p-3">
  <div class="row">
    <div class="col-md-6 com-lg-6 col-sm-12">
      <div class="row">
        <div class="col-md-12 col-lg-12">
                <div class="card p-3">
          <app-finance-chart></app-finance-chart>
             
                </div>
        </div>
        <div class="col-md-12 col-lg-12 py-3">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 py-3">
              <div class="card">
                <h5 class="card-header">Total Income</h5>
                <div class="card-body">
                  <h5 class="card-title">100 RS</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 py-3">
              <div class="card">
                <h5 class="card-header">Total Expense</h5>
                <div class="card-body">
                  <h5 class="card-title">100 RS</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 align-item-center">
              <div class="card">
                <h5 class="card-header">Net Profit</h5>
                <div class="card-body">
                  <h5 class="card-title">100 RS</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 com-lg-6 col-sm-12">
        <div class="row">
                <div class="col-md-12 col-lg-12">
                       <h1>Recent History</h1>
                       <div class="row px-5">
                        <div class="col-md-12 py-1">
                                <div class="card">
                                        <div class="card-body d-flex justify-content-around">
                                                <div class="card-title">
                                                     Dentist appointement
                                                </div>
                                                <span><p class="card-text">
                                                        100 rs
                                                </p></span>
                                        </div>
                                        
                                </div>
                        </div>
                        <div class="col-md-12 py-1">
                                <div class="card">
                                        <div class="card-body d-flex justify-content-around">
                                                <div class="card-title">
                                                     Dentist appointement
                                                </div>
                                                <span><p class="card-text">
                                                        100 rs
                                                </p></span>
                                        </div>
                                        
                                </div>
                        </div>
                        <div class="col-md-12 py-1">
                                <div class="card">
                                        <div class="card-body d-flex justify-content-around">
                                                <div class="card-title">
                                                     Dentist appointement
                                                </div>
                                                <span><p class="card-text">
                                                        100 rs
                                                </p></span>
                                        </div>
                                        
                                </div>
                        </div>
                       </div>
                </div>
                <div class="col-md-12 col-lg-12">
                      
                </div>
        </div>
    </div>
  </div>
</div>
