<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Serial Number</th>
      <th>Title</th>
      <th>Payment Category</th>
      <th>Amount</th>
      
      <th>Additional Message</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList; let i = index">
      <td>{{i+1}}</td>
      <td>{{transaction.title}}</td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">{{transaction.category}}</span>
      </td>
      <td>
        <p class="fw-normal mb-1">{{transaction.amount}}</p>
        <p class="text-muted mb-0">{{transaction.type}}</p>
      </td>
      
      
      <td>{{transaction.message}}</td>
      <td>{{formettedDate(transaction.date)}}</td>
      <td>
        <button
          type="button"
          class="btn btn-link btn-sm btn-rounded"
          (click)="openModal(transaction)"
        >
          Edit
        </button>
      </td>
    </tr>
    
    
    
  </tbody>
</table>
