<div class="card">
        <div class="d-flex justify-content-between align-items-center w-100">
                <div class="p-2">
                    <h2>Prescription</h2>                           
                </div> 
                <div class="button">
                  <button class="btn btn-danger text-white">+ADD NEW</button>
                </div> 
          </div>
          <div class="table">
                <app-prescription-list></app-prescription-list>
          </div>


</div>
