.card{

        .title{

                h3{
                        font-size: 35px ;
                        font-weight: 600;
                        letter-spacing: 1px;
                }
        }
}