<form class="p-3">
        <div class="container ">
          <div
            class="wrapper p-2 "
          >

          <div class=" text-black text-center pt-3">
                <h4>
                        ADD PRESCRIPTION
                </h4>
        </div>
            <div class="">
              <div class="date_amount-container py-3">
                <div
                  class=""
                >
                  <label for="ExpenseDate" class="form-label">Prescription:</label>
                  <input type="text" id="ExpenseTitle" class="form-control" />
                </div>
                <div
                  class=""
                >
                  <label for="ExpenseDate" class="form-label">Prescripted by:</label>
                  <input type="text" id="ExpenseTitle" class="form-control" />
                </div>
                <div
                  class=""
                >
                  <label for="ExpenseDate" class="form-label">Start Date:</label>
                  <input type="date" id="ExpenseTitle" class="form-control" />
                </div>
                <div
                  class=""
                >
                  <label for="ExpenseDate" class="form-label">Time:</label>
                  <input type="time" id="ExpenseTitle" class="form-control" />
                </div>
                <div
                  class=""
                >
                  <label for="ExpenseDate" class="form-label"
                    >Duration (in days):</label
                  >
                  <input type="number" id="ExpenseTitle" class="form-control" />
                </div>
              </div>
            </div>
      
            
      
           
            <div class="button py-2 d-flex justify-content-center align-items-end w-100">
              <button type="button" class="btn btn-danger" mdbRipple>
                <i class="fas fa-plus"></i> Add Prescription
              </button>
            </div>
          </div>
        </div>
      </form>
      