 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
            >
              <h1 data-aos="fade-up">I am your Browser Mate 😎</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">
                I will do whatever you ask but in Browser . Just click on the
                button and start 🙂
              </h2>
              <div class="d-flex">
                <div data-aos="fade-up" data-aos-delay="800">
                  <a
                    href="#"
                    id="start-button-change"
                    class="btn-get-started"
                    onclick="startSearch()"
                    >Start Search 🎙️</a
                  >
                </div>
                <div data-aos="fade-up" data-aos-delay="800">
                  <a href="#" class="btn-get-started" onclick="stopSearch()"
                    >Stop Search 🛑</a
                  >
                </div>
              </div>
              <div
                data-aos="fade-up"
                data-aos-delay="800"
                style="margin-top: 20px"
              >
                <textarea
                  id="voice-input1"
                  class="voice-input"
                  type="text"
                  placeholder="I am your query🙂"
                  cols="30"
                 
                ></textarea>
                <textarea id="voice-input2" class="voice-input" type="text" cols="30" ></textarea>
              </div>
            </div>
            <div
              class="col-lg-6 order-1 order-lg-2 hero-img"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <img
                src="../../../assets/img/hero-img.png"
                class="img-fluid animated"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->