<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1 data-aos="fade-up">Welcome to Life Track Pro</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          Your Personal Comprehensive Tracker
        </h2>
        <div class="d-flex flex-column">
          <div class="py-2 d-flex">
            <button
              type="button"
              class="btn btn-secondary btn-rounded"
              mdbRipple
            >
              Finance Tracking
            </button>
            <div class="ms-2">
              <button
                type="button"
                class="btn btn-danger btn-rounded"
                mdbRipple
              >
                Fitness Monitoring
              </button>
            </div>
          </div>
          <div></div>
          <div class="px-5 ms-4">
            <button type="button" class="btn btn-dark btn-rounded" mdbRipple>
              Work Efficiency Tools
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <img
          src="../../../assets/img/hero-img.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
