<div class="conatiner-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-item">
                      <div class="card-title text-muted">Budgeted :</div>
                      <p>
                        <span class="card-text">₹15000 </span>
                        <span>
                          <i class="far fa-edit"></i>
                        </span>
                      </p>
                    </div>
                    <div class="card-item">
                      <div class="card-title text-muted">Actual :</div>
                      <p>
                        <span class="card-text">₹12000 </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
       <div class="row">
        <div class="col-md-4 py-3">
          <app-add-transaction>  </app-add-transaction>
       </div>
       <div class="col-md-8">
          <app-transaction-list></app-transaction-list>
       </div>
       </div>
           
          </div>
        </div>
      </div>
      
