      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Implementation</h2>
            <p>are possible by using these features</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fas fa-cube"></i></div>
                <h4 class="title"><a href="#">Voice recognition</a></h4>
                <p class="description">
                  in JavaScript using Webkit enables developers to create
                  interactive, voice-controlled web apps by accessing microphone
                  and converting speech to text via the Web Speech API.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fas fa-cube"></i></div>
                <h4 class="title"><a href="#">Voice to text</a></h4>
                <p class="description">
                  using JavaScript allows developers to convert speech to text
                  in web applications using the Web Speech API, enabling
                  interactive, voice-controlled functionality and access to text
                  input via microphone.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fas fa-cube"></i></div>
                <h4 class="title"><a href="#">Search by keyword</a></h4>
                <p class="description">
                  allows users to quickly find specific information by inputting
                  relevant keywords into a search field, providing targeted and
                  relevant results.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="fas fa-cube"></i></div>
                <h4 class="title"><a href="#">JavaScript</a></h4>
                <p class="description">
                  is a widely-used programming language that allows developers
                  to create interactive and dynamic websites, web applications
                  and to automate browser tasks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->