<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <app-finance-header-card></app-finance-header-card>
        </div>
        <div class="col-md-12 py-5">
          <app-add-transaction></app-add-transaction>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-finance-chart></app-finance-chart>
    </div>
  </div>

  <div class="container p-4">
    <app-transaction-list></app-transaction-list>
  </div>
</div>
