<div class="container p-5">
        <div class="cards">
                <div class="row">
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Adequate Hydration
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Cardio Exercise Sessions
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Sleep Hours
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Limiting Screen Time
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Balanced Diet 
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Resistance Training
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Walking Steps
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                        <div class="c-dashboardInfo col-lg-4 p-2">
                                <div class="wrap">
                                  <h4
                                    class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
                                  >
                                  Daily Fruit and Veggie Challenge
                                  </h4>
                                  <span class="hind-font caption-12 c-dashboardInfo__count"
                                    ><i class="fab fa-gratipay"></i> 10,500</span
                                  >
                                </div>
                              </div>
                </div>
        </div>
</div>