 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                Bromate is sounds like a voice-controlled browser automation
                tool 😎.
              </p>
              <ul>
                <li>
                  <i class="fas fa-check-double"></i> This uses natural
                  language processing and speech recognition technologies to
                  understand and respond to the user's commands.
                </li>
                <li>
                  <i class="fas fa-check-double"></i> This allow users to
                  perform various actions on popular websites such as Google and
                  YouTube using voice commands
                </li>
                <li>
                  <i class="fas fa-check-double"></i>This could include
                  searching for specific terms, navigating to different pages,
                  and interacting with different elements on the page
                </li>
              </ul>
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <p>
                The voice-controlled browser automation tool would likely also
                include functionality such as searching Wikipedia for specific
                terms, retrieving jokes, getting weather information, and even
                taking screenshots.The tool also be able to provide information
                such as the current date and time.Additionally, This would allow
                the user to control music playback using voice commands such as
                "play music" or "pause the song".
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->