<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title card-text p-5" data-aos="fade-up">
      <h2 class="text-center">ABOUT</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6 px-5" data-aos="fade-up" data-aos-delay="150">
        <p>LifeTrack: Transforming Aspirations into Achievements.</p>
        <ul>
          <li>
            <i class="fas fa-check-double"></i>Harmonize expenses, fitness routines, and work tasks in one platform for a unified life management experience.
          </li>
          <li>
            <i class="fas fa-check-double"></i> Tailor suggestions and insights to optimize individual productivity, health, and financial wellness.
          </li>
          <li>
            <i class="fas fa-check-double"></i>Ensure robust data security while empowering users to track, manage, and enhance their lives confidently.
          </li>
        </ul>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 px-5"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <p>
          Welcome to Life Track Pro – the ultimate life synchronization platform! We're your go-to hub for seamlessly managing expenses, fitness routines, and work tasks all in one place. Unlock personalized efficiency with tailored insights, optimizing your productivity, health, and financial wellness effortlessly. Our commitment to robust data security ensures your information remains safeguarded while you take charge of every aspect of your life. Join us today, and let's harmonize and elevate your daily rhythm together!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
