<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>About</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>LifeTrack: Transforming Aspirations into Achievements.</p>
        <ul>
          <li>
            <i class="fas fa-check-double"></i> Empowering your journey to a
            healthier, happier, and more purposeful life.
          </li>
          <li>
            <i class="fas fa-check-double"></i> Achieve your goals, track your
            progress, and thrive with LifeTrack, your personal success companion
          </li>
          <li>
            <i class="fas fa-check-double"></i>Master your life's metrics, track
            your achievements, and unlock your full potential with this webapp.
          </li>
        </ul>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <p>
          LifeTrack is your personalized journey companion, seamlessly guiding
          you from aspirations to achievements. Set goals, track progress, and
          celebrate milestones on the path to a healthier, happier you.With
          precision tracking and empowering features, LifeTrack transforms your
          everyday into a purposeful adventure. Join now and unlock the
          potential of your personal success story.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
