<div class="row">
  <div class="col-md-12 py-2">
    <div class="row">
      <div class="col-md-6">
        <div class="px-5 py-2">
                <form class="d-flex input-group w-auto">
                        <input
                          type="search"
                          class="form-control rounded"
                          placeholder="Search by title or amount"
                          aria-label="Search"
                          [(ngModel)]="searchInput"
                          (input)="filterTransactions()" 
                          name="searchField"
                        />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                      </form>
        </div>
        
      </div>
      <div class="col-md-6 d-flex justify-content-around align-items-center">
           <div class="selectOption ">
                <select class="form-select" (change)="onTypeChange($event)" aria-label="Default select example">
                        <option value="all" selected>All</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                      </select>
           </div>
           
                
        
      </div>
    </div>
  </div>
  <div class="com-md-12">
    <app-transaction-list [transactionList]="filteredTransactions"></app-transaction-list>
  </div>
  <div class="col-md-12"></div>
</div>
